<head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>Cognitive Distortions Detection</title>
</head>
<body style="background-color: #f9f2eb;">
    <h1 style="color:#444341; font-family: Montserrat; font-size:x-large; text-align: center; padding-top: 25px;">Automatic Detection and Classification of Cognitive Distortions</h1>
    <br>
    <p style="color: #444341; font-family: Montserrat; font-size: medium;font-weight:bolder;padding-left: 25px;">Enter text :</p>

    <form method="post">{% csrf_token %}
        <textarea style="margin-left: 25px; box-shadow:1px 1px 2px 2px #444341;font-family: Montserrat;" cols="100" rows="10" type="text" name="content"></textarea>
        <br> 
        <br>
        <input style="margin-left:25px; font-family: Montserrat; font-weight: bold;width: 80px;
         height: 40px;border: 3px;border-radius: 20px; background-color: #ecddcd; color:#444341" type="submit" value="Submit"/>
    </form>
    <br>
    <br>

    <div class="grid-container" style="display: grid; grid-template-columns: 2fr 1fr; grid-gap: 20px;">

        
        <div class="grid-child" id="output" style="font-family: Montserrat; max-width: 600px;padding-left: 25px;"></div>
        
        <div class="grid-child" id="categories" style="font-family: Montserrat;font-weight: bold;"> 
            <p style="color: #DAC4AC;">Overgeneralization</p>
            <p style="color:#ECCDE1">Should Statements</p>
        </div>
        
    </div>

    <!-- <p style="font-family: Montserrat; padding-left: 25px; color:#444341">S</p> -->
    <div id="colorlist"></div>

    <script>
    var i;
    var colored = "{{colored}}";
    var x = colored.substr(1,colored.length-2);
    var list = (x).split(",");
    //document.getElementById("colorlist").innerHTML = list;
    
    
    var cleanedelement = list[0].substr(6,list[0].length-12);
    if(cleanedelement == "Bright baige"){
        var cleaned = list[1].substr(7,list[1].length-13);
        var cleaned2 = cleaned.replace("&#x27;","'");
        var elementspan = document.createElement("SPAN");
        elementspan.innerText = cleaned2 + " ";
        var result = document.getElementById("output").appendChild(elementspan);
        result.style.backgroundColor = "#DAC4AC"; 
        //result.style.fontFamily = "Montserrat";  
    }
    else if(cleanedelement == "Bright pink"){
        cleaned = list[1].substr(7,list[1].length-13);
        var cleaned2 = cleaned.replace("&#x27;","'");
        elementspan = document.createElement("SPAN");
        elementspan.innerText = cleaned2 + " ";
        result = document.getElementById("output").appendChild(elementspan);
        result.style.backgroundColor = "#ECCDE1";
        //result.style.fontFamily = "Montserrat"; 
    }
    else{
        cleaned = list[1].substr(7,list[1].length-13);
        var cleaned2 = cleaned.replace("&#x27;","'");
        elementspan = document.createElement("SPAN");
        elementspan.innerText = cleaned2 + " ";
        result = document.getElementById("output").appendChild(elementspan);
        //result.style.fontFamily = "Montserrat"; 
    }
    
    
    for (i=2; i<list.length; i+=2) {
        cleanedelement = list[i].substr(7,list[i].length-13);
        //document.getElementById("colorlist").innerHTML = cleanedelement;
        // var para = document.createElement("SPAN");         
        // para.innerText = " " + cleanedelement;
        // trial = document.getElementById("trial").appendChild(para);
        // trial.style.backgroundColor = "#DAC4AC"
        if(cleanedelement == "Bright baige"){
            cleaned = list[i+1].substr(7,list[i+1].length-13);
            var cleaned2 = cleaned.replace("&#x27;","'");
            elementspan = document.createElement("SPAN");
            elementspan.innerText = cleaned2 + " ";
            result = document.getElementById("output").appendChild(elementspan);
            result.style.backgroundColor = "#DAC4AC";  
            //result.style.fontFamily = "Montserrat";  
        }
        else if(cleanedelement == "Bright pink"){
            //document.getElementById("colorlist").innerHTML = cleanedelement;
            cleaned = list[i+1].substr(7,list[i+1].length-13);
            var cleaned2 = cleaned.replace("&#x27;","'");
            elementspan = document.createElement("SPAN");
            elementspan.innerText = cleaned2 + " ";
            result = document.getElementById("output").appendChild(elementspan);
            result.style.backgroundColor = "#ECCDE1";
            //result.style.fontFamily = "Montserrat"; 
        }
        else{
            cleaned = list[i+1].substr(7,list[i+1].length-13);
            var cleaned2 = cleaned.replace("&#x27;","'");
            elementspan = document.createElement("SPAN");
            elementspan.innerText = cleaned2 + " ";
            result = document.getElementById("output").appendChild(elementspan);
            //result.style.fontFamily = "Montserrat"; 
        }
    }
    //document.getElementById("trial").innerHTML = list[0];
    </script>

</body>
